
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px!important;
}
.header-1 {
    background-color: rgb(139, 28, 28);
    height: 70px;
    width: 100%;
}
main{
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.menu-urls{
    border-bottom: 3px solid #efefef;
    }
.logo{
    padding: 10px;
    width: 90%;
}
.menu ul li{
    display:inline-block;
    color:darkgray;
    margin-left: 20px;
}
.menu ul li a {
    color: darkgray;
    text-decoration: none;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.menu{
    width: 70%;
    float: left;
   
}
.busca{
    text-align:center;
    width:30%;
    float: right;  
}
.busca input{
    height: 35px;
    padding: 15px;
    width: 160px;
    margin-top: 20px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    bottom: 73px;
}
.coll-100 {
    width: 100%;
    float: left;
    position: relative;
}
.menu2 ul li{
    display:inline-flexbox;
    text-align:left;
    color:rgb(139, 28, 28);
}
.menu2 ul li a{
    color: rgb(139, 28, 28);
    text-decoration: none;
    font-size: 38px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
    line-height: 100px;
}

.banner{
    float: right;
    position: relative;
    bottom: 80px;
    
}
.endereco{
    width: 100%;
    color:darkgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: -180px;
    text-align: center;
}
.endereco1{
    width: 100%;
    color:darkgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: -120px;
    text-align: center;
}
.menu3 ul li a {
    font-size: 30px;
    color: darkgray;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.titulo{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkgray;
    text-align: center;
}
.container{
    display: flex;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(139, 28, 28);
    line-height: 40px;
}
.container p{
    margin:15px;
}


    

